body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo img {
    height: 75px;
    width: 150px;
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for lifted effect */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
    
}

.logo img:hover {
    transform: translateY(-5px); /* Moves the logo up slightly on hover */
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    background-color: #333;
    border-radius: 15px; /* Adds rounded corners to the navigation bar */
    overflow: hidden; /* Ensures child elements respect the border-radius */
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 8px; /* Adds rounded corners to each link */
    background-color: #444; /* Adds background color to visualize the border-radius */
    position: relative; /* Required for the ::after pseudo-element */
    margin: 0 10px; /* Adds horizontal spacing between links */
}


li a:hover::after {
    width: 100%; /* Expand to full width */
    left: 0; /* Ensure it starts from the left edge */
}

li a:hover {
    transform: translateY(-5px); /* Moves the navbar up slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow for lifted effect */
    border-bottom: 4px solid red; /* Adds red bottom border on hover */
}

main {
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    header {
        flex-direction: column; /* Stacks header items vertically */
        align-items: flex-start; /* Aligns items to the start */
    }

    ul {
        justify-content: center; /* Centers the navigation items */
        padding: 5%;
    }

    li {
        width: 100%; /* Makes each item take full width */
        text-align: center; /* Centers the text */
        margin: 2%;
    }

    li a {
        padding: 10px 20px; /* Adjusts padding for smaller screens */
    }
}